.hidden {
    display: none;
}


.game-container {
    text-align: center;
}

#mixed-word {
    font-weight: bold;
    font-style: italic;
    font-size: larger;
}

#water-image {
    width: 50%;
    height: 30%;
}

#mixed-word {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2em;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 10px;
}

#popup {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    text-align: center;
}

button {
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

input {
    padding: 10px;
    font-size: 16px;
    margin: 10px 0;
    width: 20%;
    border-radius: 5px;
    border: 1px solid #ccc;
}