body {
    font-family: Verdana;
    background-color: #FEFAE0;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
#navbar {
    background-color: #A6B37D;
    padding: 15px;
}

#navbar a {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    font-size: 1.5em;
    background-color: #C0C78C;
    border-radius: 25px;
    width: 5em;
    text-align: center;
    color: black
}

#navbar a:hover {
    background-color: #B99470;
}

footer {
    background-color: #A6B37D;
    padding: 15px;
    margin-top: auto;
}

footer p {
    text-align: center;
}

img {

    max-width: 80%;
    border: 6px solid;
    border-radius: 30px;
    border-color: #A6B37D;
    

    
    }

.etusivukuva{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    
    

    }

.tekstit{
    text-align: center;
    padding-top: 40px;
}

@media (max-width: 518px) {
    
    
    #navbar a {
        font-size: 1.1em;
        width: 5em;
        margin: 7px;
    }
    
}

@media (max-width: 425px) {
    
    
    #navbar a {
        font-size: 1.1em;
        width: 3.3em;
        margin: 7px;
    }
}