.pelit-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    flex: 1;
}

.peli-kooste {
    width: 170px;
    text-align: center;
    margin: auto;
}

.peli-kooste img {
    width: 150px;
    border-radius: 80px;
}

.peli-kooste:hover img{
    opacity: 0.8;
}

a {
    text-decoration: none;
    color: black;
}

footer {
    background-color: #A6B37D;
    padding: 15px;
    text-align: center;
    margin-top: auto;
}

/* Responsiivisuus */
@media (max-width: 768px) {
    .pelit-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    
    .peli-kooste {
        width: 80%;
    }
    
    #navbar a {
        font-size: 1.1em;
        width: 3.5em;
        margin: 3px;
    }
}