button{

    margin-top: 3%;
    max-width: 100%;
    min-width: 15%;
    height: 35px;
    background-color: #A6B37D;;
    align-items: center;
    font-size: large;
    border-radius: 3px;
    border: 3px solid;
    
    

}

.end{

    padding-right: 4%;


}

#question{

    padding-right: 3%;


}

.button{
    
    display:inline-block;
    
    padding-left: 38%;
    padding-top: 3%;


}


#points2{

    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 4%;
    


}




#points4{

    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 4%;


}

#points{

    display: inline-block;
    padding-left: 46%;
    justify-content: center;
    align-items: center;

    
}

#points3{

   display: inline-block;
   
   

}

.pistedivit{
    display: inline-block;
    

}

.button2{

    display:inline-block;
    padding-right: 3%;
    

}

.buttons{

display: flex;
align-items: center;
justify-content: space-between;
width: 25%;
padding-left: 35%;

}

.play{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding-left: 23%;

}

.button button:hover{

 background-color: #B99470;

}





h2{

padding-bottom: 1vh;
font-size: 3vh;

}

p{

 font-size: 2.2vh;

}






#navbar{

 font-size: 2.1vh;

}


img{

    display: inline-block;

}

#img1{

    width: 20%;
    

}

#img2{

    width: 20%;
    margin-left: 10%;

}

#img3{

    width: 17%;

}

#img4{

    width: 17%;

}

.birds{
   margin-left: 30%;

}

@media screen and (min-width: 200px) and (max-width: 400px) {

    h2{

        font-size: 1.5vh;

    }

    .birds{

        display: grid;

        width: 70%;

        

        

    }

    .image1{

        padding-left: 15%;
        
       


    }
    .image2{
       
        width: 80%;
        padding-left: 7%;

    }

    button{

       font-size: 1.2vh;


    }
    #points2{

        font-size: 1.5vh;



    }
    #points3{

        font-size: 1.5vh;
        



    }
    #points{

        font-size: 1.5vh;
        padding-left: 43%;
        



    }


}

@media screen and (min-width: 400px) and (max-width: 508px) {


    h2{

        font-size: 2vh;

    }
    #points{

        
        padding-left: 43%;
        



    }.image1{

        padding-left: 16%;
        width: 70%;
       


    }.image2{
       

        padding-left: 9%;
        width: 70%;

    }
    button{

        font-size: 1.5vh;
 
 
     }



}
@media screen and (min-width: 509px) and (max-width: 610px) {

    h2{

        font-size: 2vh;

    }
    #points{

        
        padding-left: 43%;
        



    }.image1{

        padding-left: 16%;
        width: 70%;
       


    }.image2{
       

        padding-left: 9%;
        width: 70%;

    }
    button{

        font-size: 2vh;
 
 
     }


}
@media screen and (min-width: 610px) and (max-width: 710px) {

    h2{

        font-size: 2vh;

    }
    #points{

        
        padding-left: 44%;
        



    }.image1{

        padding-left: 16%;
        width: 70%;
       


    }.image2{
       

        padding-left: 9%;
        width: 70%;

    }
    button{

        font-size: 2vh;
 
 
     }



}
@media screen and (min-width: 710px) and (max-width: 810px) {

    h2{

        font-size: 2vh;

    }
    #points{

        
        padding-left: 44%;
        



    }.image1{

        padding-left: 16%;
        width: 70%;
       


    }.image2{
       

        padding-left: 9%;
        width: 70%;

    }
    button{

        font-size: 2vh;
 
 
     }




}
@media screen and (min-width: 810px) and (max-width: 910px) {

    h2{

        font-size: 2vh;

    }
    #points{

        
        padding-left: 45%;
        



    }.image1{

        padding-left: 17%;
        width: 70%;
       


    }.image2{
       

        padding-left: 10%;
        width: 70%;

    }
    button{

        font-size: 2vh;
 
 
     }


}
@media screen and (min-width: 910px) and (max-width: 1010px) {

    h2{

        font-size: 2vh;

    }
    #points{

        
        padding-left: 45%;
        



    }.image1{

        padding-left: 17%;
        width: 70%;
       


    }.image2{
       

        padding-left: 10%;
        width: 70%;

    }
    button{

        font-size: 2vh;
 
 
     }


}

@media screen and (min-width: 1010px) and (max-width: 1210px) {

    h2{

        font-size: 2vh;

    }
    #points{

        
        padding-left: 45%;
        



    }.image1{

        padding-left: 17%;
        width: 70%;
       


    }.image2{
       

        padding-left: 10%;
        width: 70%;

    }
    button{

        font-size: 2vh;
 
 
     }



}
@media screen and (min-width: 1210px) and (max-width: 1410px) {

    h2{

        font-size: 2vh;

    }
    #points{

        
        padding-left: 45.5%;
        



    }.image1{

        padding-left: 17%;
        width: 70%;
       


    }.image2{
       

        padding-left: 10%;
        width: 70%;

    }
    button{

        font-size: 2vh;
 
 
     }




}

@media screen and (min-width: 1410px) and (max-width: 1610px) {

    h2{

        font-size: 2vh;

    }
    #points{

        
        padding-left: 46%;
        



    }.image1{

        padding-left: 18%;
        width: 70%;
       


    }.image2{
       

        padding-left: 11%;
        width: 70%;

    }
    button{

        font-size: 2vh;
 
 
     }


}

@media screen and (min-width: 1610px) and (max-width: 2560px) {

    h2{

        font-size: 2vh;

    }
    #points{

        
        padding-left: 46%;
        



    }.image1{

        padding-left: 18%;
        width: 70%;
       


    }.image2{
       

        padding-left: 11%;
        width: 70%;

    }
    button{

        font-size: 2vh;
        height: 20%;
 
 
     }



}
@media screen and (min-width: 2560px) and (max-width: 3000px) {

    h2{

        font-size: 2vh;

    }
    #points{

        
        padding-left: 46%;
        



    }.image1{

        padding-left: 18%;
        width: 70%;
       


    }.image2{
       

        padding-left: 11%;
        width: 70%;

    }
    button{

        font-size: 2vh;
        height: 20%;
 
 
     }




}