body {
    font-family: Verdana;
    background-color: #FEFAE0;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#game-container {
    display: grid;
    justify-content: center;
    grid-gap: 16px;
    grid-template-columns: repeat(5,200px);
    padding-top: 5em;
}

#game-container.hidden {
    display: none;
}

#start-game-screen {
    text-align: center;
    padding: 20px;
}

#start-game-screen.hidden {
    display: none;
}

#start-game-screen img {
    width: 600px;
    border: 6px solid #A6B37D;
    border-radius: 30px;
}

#end-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

#end-screen.hidden {
    display: none;
}

.end-container {
    position: fixed;
    background-color: #FEFAE0;
    padding: 30px;
    border-radius: 10px;
    max-width: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.end-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

#to-games-btn {
    background-color: #B99470;
    color: black;
    padding: 12px 30px;
    font-size: 18px;
    margin-top: 20px;
}

.play-button {
    background-color: #A6B37D;
    width: 10em;
    height: 4em;
    border-radius: 6px;
    font-weight: bold;
    font-size: 1em;
}

.play-button:hover {
    cursor: pointer;
}

#play-again:hover {
    cursor: pointer;
}

#to-games-btn:hover {
    cursor: pointer;
}

#play-again {
    background-color: #A6B37D;
    color: black;
    padding: 12px 30px;
    font-size: 18px;
    margin-top: 20px;
}

h2 {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

p {
    text-align: center;
    font-weight: bold;
}

#game-container img {
    max-width: 60%;
    padding: 2em;
}

.card {
background-color: white;
margin: 10px;
border-radius: 30px;
height: calc(120px / 2 * 3);
width: 180px;
}

.card:hover {
    cursor: pointer;
}

.game-stats {
    display: none;
}


@media only screen and (max-width: 1064px) {
    #game-container {
        
        justify-content: center;
        grid-gap: 16px;
        grid-template-columns: repeat(2,200px);
    }
  }
@media only screen and (max-width: 443px) {
    #game-container {
        
        justify-content: center;
        grid-gap: 16px;
        grid-template-columns: repeat(2,150px);
    }

    .card {
        background-color: white;
        border-radius: 30px;
        height: calc(84px / 2 * 3);
        width: 120px;
        }
    #game-container img {
        max-width: 40%;
    }
}