#game-container {
    display: none;
    justify-content: center;
    grid-gap: 16px;
    grid-template-columns: repeat(5,200px);
}

#start-game-screen {
    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
}

.play-button {
    background-color: #A6B37D;
    width: 6em;
    height: 3em;
    border-radius: 6px;
    font-weight: bold;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}

img {
    max-width: 60%;
    padding: 2em;
}

.card {
background-color: white;
margin: 10px;
border-radius: 30px;
height: calc(120px / 2 * 3);
width: 180px;
}

@media only screen and (max-width: 1064px) {
    #game-container {
        
        justify-content: center;
        grid-gap: 16px;
        grid-template-columns: repeat(2,200px);
    }
  }
@media only screen and (max-width: 443px) {
    #game-container {
        
        justify-content: center;
        grid-gap: 16px;
        grid-template-columns: repeat(2,150px);
    }

    .card {
        background-color: white;
        border-radius: 30px;
        height: calc(84px / 2 * 3);
        width: 120px;
        }
    img {
        max-width: 40%;
    }
}