
body {
    padding: 0;
    margin: 0;
    background-color: #FEFAE0;
    font-family: Verdana;
}
#navbar {
    background-color: #A6B37D;
    padding: 15px;
}

#navbar a {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    font-size: 1.5em;
    background-color: #C0C78C;
    border-radius: 25px;
    width: 6em;
    text-align: center;
    color: black
}

#navbar a:hover {
    background-color: #B99470;
}

footer {
    background-color: #A6B37D;
    padding: 50px;
    position: relative;
    width: auto;
}

footer p {
    position: relative;
    text-align: center;
    margin-bottom: 20px;
    justify-content: center;
}

img {
    position: relative;
    display: flex;
    max-width: 20%;
    border: 6px solid;
    border-radius: 30px;
    border-color: #A6B37D;
    margin: auto;
    top: 1px;
    }

.etusivukuva{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    
    

    }

.tekstit{
    text-align: center;
    

}

#gameContainer {
    display: grid;
    width: 500px;
    font-family: #fefae0;
    border: 2px solid;
    border-color:#A6B37D;
    justify-content: center;
    margin: auto;
    font-size: 20px;
    padding-bottom: 30px;
}

button {
    width: 150px;
    height: 30px;
    padding: 0;
    font-weight: bold;
    background-color: #A6B37D;
}

#gameScreen {
    display: none;
}

#startButton {
    width: 200px;
    height: 50px;
    padding: 0;
    margin: 30px;
    font-size: 1em;       
}

#restartGame {
    margin-top: 10px;
    margin-left: 50px;
}

#timer {
    margin: 5px;
}

#word {
    margin: 5px;
}

#score {
    margin: 5px;
}

@media (max-width: 910px) {
    img {
        position: relative;
        display: block;
        max-width: 40%;
    }
}

@media (max-width: 768px) {
    img {
        position: relative;
        display: block;
        max-width: 40%;
    }

    #navbar a {
        display: inline-block;
        margin: 35px;
        justify-content: center;
    }
}

@media (max-width: 744px) {
    #navbar {
        display: flex;
    }
}

@media (max-width: 674px) {
    footer {
        width: 100%;
        bottom: 0px;
    }

    #navbar {
        width: 100%;

    }

    #navbar a {
        margin: 25px;
    }
}

@media (max-width: 582px) {
    #navbar a {
        margin: 15px;
    }

    img {
        position: relative;
        display: block;
        max-width: 55%;
    }
}
